body {
  font-size: 16px;
  line-height: 23px;
  color: $default;
  @extend %gilroy-400;
}
.container{
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
}
a{
  color: $default;
  font-size: 13px;
  line-height: 104.4%;
  @extend %gilroy-400;
}
.title{
  @extend %gilroy-600;
  font-size: 46px;
  line-height: 46px;
  color: $default;
  text-align: center;
  transform: translateY(-100px);
  opacity: 0;
}